absl-py==0.7.0
astor==0.7.1
audioread==2.1.6
certifi==2018.11.29
cycler==0.10.0
decorator==4.3.2
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
librosa==0.6.3
llvmlite==0.27.0
Markdown==3.0.1
matplotlib==3.0.3
numba==0.42.0
numpy==1.16.2
object-detection==0.1
pandas==0.24.1
protobuf==3.7.0
pyparsing==2.3.1
python-dateutil==2.8.0
python-speech-features==0.6
pytz==2018.9
PyYAML==4.2b1
resampy==0.2.1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
tqdm==4.31.1
Werkzeug==0.14.1
wincertstore==0.2
