<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <title>Home</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{
            url_for('static', filename='css/menu-styles.css')}}">
        <link rel="stylesheet" href="{{
            url_for('static', filename='css/home-styles.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@600&display=swap" rel="stylesheet">

    </head>
    <body>
        <header class='menu-container'>
            <div class='menu'>
                <div class='logoname'>
                    <div class='name'>
                        <div class='logo'>
                            <img src="{{url_for('static', filename='images/soundwave.png')}}" width=260px height=86px/>
                        </div>
                        <a href='index.html'>
                            Jay-Zam!
                        </a>
                        <div class='by-text'>
                            by
                        </div>
                        <div class='codeo-text'>
                            CODEOLOGY
                        </div>
                    </div>    
                </div>
                <div class='toolbar'>
                    <a href='about-us.html'>About Us</a>
                    <a href='works.html'>How it Works</a>
                    <a href='more.html'>More</a>
                    <div class='download-container'>
                        <a href='#'>Download</a>
                        <div class='download-copy'></div>
                        <div class='logo2'>
                            <img src="{{url_for('static', filename='images/soundwave2.png')}}" width=260px height=86px/>
                        </div>
                    </div>
                </div>    
            </div>
        </header>
        <section class='middle-container' id="middleid">
            <div class='button-container'>   
                <hr class='static-line'>
                <div class='vis-container'>
                    <canvas class='visualizer' height='450px'></canvas>
                </div>
                <div class='center-button'>
                    <div class='button-text'>
                        <strong>START</strong>
                    </div>
                </div> 
            </div>    
        </section>

        <section class='middle-container'>
            <form action = "http://127.0.0.1:8080/uploader" method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>   
        </section>
        

        <script src="{{url_for('static', filename='scripts/script.js')}}"></script>

    </body>
</html>